{% load i18n %}

<div id="create_tag_modal" class="ui dinamic modal">
    <div class="ui header">{% trans 'Create tag' %}</div>
    <div class="content">
        <div class="ui form">
            <div class="ui grid">
                <div class="eight wide column">
                    <label class="bold-text" for="create_tag_name">{% trans 'Name' %}</label>
                    <div class="ui input fluid">
                        <input id="create_tag_name" type="text" maxlength="32">
                    </div>
                </div>
                <div class="eight wide column">
                    <label class="bold-text" for="create_tag_parent">{% trans 'Parent' %}</label>
                    <select id="create_tag_parent" class="ui search selection dropdown fluid">
                        <option value="0">{% trans 'Root' %}</option>
                    </select>
                </div>
            </div>
            <br>
            <label class="bold-text" for="create_tag_description">{% trans 'Description' %}</label>
            <textarea id="create_tag_description" rows="7" placeholder="{% trans 'Description' %}" style="resize:none"></textarea>
            {% if user.extended.role == '2' %}
                <br><br>
                <div id="create_tag_user_access_selection"></div>
            {% endif %}
            <br><br>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button id="confirm_create_tag" type="button" class="ui green button small">{% trans 'Create' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="cancel_create_tag" type="button" class="ui blue button small">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</div>
<span id="label_for_user_access_1" hidden>{% trans 'Users can modify' %}</span>
<span id="label_for_user_access_2" hidden>{% trans 'Users can create children' %}</span>
